 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="@Url.Action("FormularioVisita","Home")">Dejar comentarios en el Registro de visitas</a><br />
        <a href="@Url.Action("ListadoVisitas","Home")">Comentarios de Visitantes</a><br />
        <a href="@Url.Action("Persona","Home")">Registrar Persona</a> <br />
        <a href="@Url.Action("ListarPersonas","Home")">Listado de Personas</a>
    </div>
</body>
</html>
