
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListarPersonas</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Nombres</td>
                    <td>Cedula</td>
                    <td>Telefono</td>
                    <td>Correo</td>
                </tr>
            </thead>
            <tbody>
                @Html.Raw(ViewData["lista"])
            </tbody>            
        </table>
        
        <br />
        <a href="/">Retornar</a>
    </div>
</body>
</html>
