
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistraPersona</title>
</head>
<body>
    <div> 
        <form action="RegistraPersona" method="post">
            <p>Nombre: <input type="text" name="Nombre" /></p>
            <p>Cedula: <input type="text" name="Cedula" /></p>
            <p>Telefono: <input type="text" name="Telefono" /></p>
            <p>Correo: <input type="text" name="Correo" /></p>
            <input type="submit" name="Registrar" />
        </form>
    </div>
</body>
</html>
