
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistraPersona</title>
</head>
<body>
    <div> 
        <p>Persona registrada exitosamente...</p>
        <a href="/">Retornar</a>
    </div>
</body>
</html>
