
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Campeonatos</title>
</head>
<body>
    <div> 
        <h1>Campeonatos</h1>
        <table>
            <thead>
                <tr>
                    <td>Temporada</td>
                    <td>Campeon</td>
                    <td>Dirigente</td>
                    <td>SubCampeon</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1952</td>
                    <td>Aguilas Cibaeñas</td>
                    <td>Rodolfo Fernandez</td>
                    <td>Tigres del Licey</td>
                </tr>
                <tr>
                    <td>1964-65</td>
                    <td>Aguilas Cibaeñas</td>
                    <td>Al Widmar</td>
                    <td>Leones del Escogido</td>
                </tr>
                <tr>
                    <td>1966-67</td>
                    <td>Aguilas Cibaeñas</td>
                    <td>Pete Peterson</td>
                    <td>Leones del Escogido</td>
                </tr>
                <tr>
                    <td>1971-72</td>
                    <td>Aguilas Cibaeñas</td>
                    <td>Ozzie Virgil</td>
                    <td>Tigres del Licey</td>
                </tr>
                <tr>
                    <td>1974-75</td>
                    <td>Aguilas Cibaeñas</td>
                    <td>Al Widmar</td>
                    <td>Estrellas Orientales</td>
                </tr>
                <tr>
                    <td>1975-76</td>
                    <td>Aguilas Cibaeñas</td>
                    <td>Tim Murtaugh</td>
                    <td>Tigres del Licey</td>
                </tr>
            </tbody>            
        </table>
    </div>
</body>
</html>
