
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fundadores</title>
</head>
<body>
    <div> 
        <h1>Fundacion</h1>
        <p>
            La trayectoria de las Águilas Cibaeñas como uno de los equipos representativos de la región del Cibao, está ligada al desarrollo del béisbol en el valle de la muerte . Aunque el béisbol se conocía en la República Dominicana desde finales del siglo XIX, la idea de crear un cuarto equipo surgió a partir de la década de 1930. En principio el equipo fue bautizado con el nombre Santiago B.B.C., en la fecha lunes 2 de enero de 1933, como la primera novena representativa de esta ciudad y la región en los campeonatos nacionales, según el certificado de nacimiento mostrado por el consejo directivo.<br /><br />

            En aquella reunión realizada el lunes 2 de enero de 1933, que deja constituido formalmente al famoso equipo de Santiago Baseball Club, participaron connotados munícipes de esta hidalga ciudad. Domingo O. Bermúdez, Rafael F. Bonnelly, Augusto Vega Espaillat, doctor Manuel Grullón, Eladio Victoria Hijo, Ramón Suárez Vásquez y el licenciado Marcos A. Cabral encabezaron el grupo que le dio forma al representativo local.<br /><br />

            También figuran como miembros fundadores de la escuadra santiaguera los señores Gustavo Tavarez, W.E. Brown Benjamín Sánchez G, Luis Meses Ariza, Rafael V. Meyreles, Esteban Piola, Luis Pérez y Demetrio Mojica. Cinco días después de su formación, el sábado 7 de enero de 1933, sostuvieron su primer compromiso internacional jugando en el Play Enriquillo contra la famosa novena cubana “Cuban Star”. Los visitantes ganaron el doble encuentro con pizarras de 9x4 y 4x1.
        </p>
    </div>
</body>
</html>
